/*
!/.gitignore
!/.nojekyll
!/index.html
!/gallery/
!/gallery/**
!/output/
/output/*
!/output/leo-birthday-pizza/
!/output/leo-birthday-pizza/web/
!/output/leo-birthday-pizza/web/**
!/output/eren-youth-adult-lenticular/
!/output/eren-youth-adult-lenticular/web/
!/output/eren-youth-adult-lenticular/web/**
!/output/jotaro-four-view-lenticular/
!/output/jotaro-four-view-lenticular/web/
!/output/jotaro-four-view-lenticular/web/**
!/output/tokyo-ghoul-triad-lenticular/
!/output/tokyo-ghoul-triad-lenticular/web/
!/output/tokyo-ghoul-triad-lenticular/web/**
!/output/gojo-geto-lenticular/
!/output/gojo-geto-lenticular/web/
!/output/gojo-geto-lenticular/web/**
!/output/giyu-muichiro-lenticular/
!/output/giyu-muichiro-lenticular/web/
!/output/giyu-muichiro-lenticular/web/**
!/output/tanjiro-triad-lenticular/
!/output/tanjiro-triad-lenticular/web/
!/output/tanjiro-triad-lenticular/web/**
!/output/zenitsu-thunderclap-holo/
!/output/zenitsu-thunderclap-holo/web/
!/output/zenitsu-thunderclap-holo/web/**
!/output/inosuke-ruic-holo/
!/output/inosuke-ruic-holo/web/
!/output/inosuke-ruic-holo/web/**
!/output/kanao-flower-breathing-holo/
!/output/kanao-flower-breathing-holo/web/
!/output/kanao-flower-breathing-holo/web/**
!/output/nezuko-blood-moon-holo/
!/output/nezuko-blood-moon-holo/web/
!/output/nezuko-blood-moon-holo/web/**
!/output/purple-lightning-moon-holo/
!/output/purple-lightning-moon-holo/web/
!/output/purple-lightning-moon-holo/web/**
!/output/zhongli-geo-holo/
!/output/zhongli-geo-holo/web/
!/output/zhongli-geo-holo/web/**

/output/leo-birthday-pizza/*
!/output/leo-birthday-pizza/web/
!/output/leo-birthday-pizza/web/**
/output/eren-youth-adult-lenticular/*
!/output/eren-youth-adult-lenticular/web/
!/output/eren-youth-adult-lenticular/web/**
/output/jotaro-four-view-lenticular/*
!/output/jotaro-four-view-lenticular/web/
!/output/jotaro-four-view-lenticular/web/**
/output/tokyo-ghoul-triad-lenticular/*
!/output/tokyo-ghoul-triad-lenticular/web/
!/output/tokyo-ghoul-triad-lenticular/web/**
/output/gojo-geto-lenticular/*
!/output/gojo-geto-lenticular/web/
!/output/gojo-geto-lenticular/web/**
/output/giyu-muichiro-lenticular/*
!/output/giyu-muichiro-lenticular/web/
!/output/giyu-muichiro-lenticular/web/**
/output/tanjiro-triad-lenticular/*
!/output/tanjiro-triad-lenticular/web/
!/output/tanjiro-triad-lenticular/web/**
/output/zenitsu-thunderclap-holo/*
!/output/zenitsu-thunderclap-holo/web/
!/output/zenitsu-thunderclap-holo/web/**
/output/inosuke-ruic-holo/*
!/output/inosuke-ruic-holo/web/
!/output/inosuke-ruic-holo/web/**
/output/kanao-flower-breathing-holo/*
!/output/kanao-flower-breathing-holo/web/
!/output/kanao-flower-breathing-holo/web/**
/output/nezuko-blood-moon-holo/*
!/output/nezuko-blood-moon-holo/web/
!/output/nezuko-blood-moon-holo/web/**
/output/purple-lightning-moon-holo/*
!/output/purple-lightning-moon-holo/web/
!/output/purple-lightning-moon-holo/web/**
/output/zhongli-geo-holo/*
!/output/zhongli-geo-holo/web/
!/output/zhongli-geo-holo/web/**
